<%-include ('../partials/head',{cssFile:'/css/styleDetalle.css'})%>

    <body>
        <%- include ('../partials/headerYNav') %>

            <main>
                <div class="products-categ">
                    
                    <section class="product-box">
                        <a href="">
                            <figure class="product-box_image">
                                <img src="/img/apple/ipadGen8/ipad8va.png" alt="imagen de producto" />
                            </figure>
                            <article class="product-box_data">
                                <h2> $532.580 </h2>
                                <p class="product-name" > Ipad 8va Generacion </p>
                            </article>
                        </a>
                    </section>

                    <section class="product-box">
                        <a href="">
                            <figure class="product-box_image">
                                <img src="/img/apple/ipadGen9/ipad9na.png" alt="imagen de producto" />
                            </figure>
                            <article class="product-box_data">
                                <h2> $649.999 </h2>
                                <p class="product-name" > Ipad 9na Generacion</p>
                            </article>
                        </a>
                    </section>
                    <section class="product-box">
                        <a href="">
                            <figure class="product-box_image">
                                <img src="/img/apple/ipadGen10/ipad10ma.png" alt="imagen de producto" />
                            </figure>
                            <article class="product-box_data">
                                <h2> $765.809 </h2>
                                <p class="product-name" > Ipad 8va Generacion </p>
                            </article>
                        </a>
                    </section>
                        </a>
                    </section>
                </div>

               
                </div>
                </div>
            </div>
            </main>

            <%- include ('../partials/footer') %>
    </body>
    <%- include ('../partials/script-menu') %>