<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styleDetalle.css">
    <title>Detalle</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/f4d1904851.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <header class="main-header">
        <div class="logo-container">
            <img class="img-logo" src="/public/img/logo-dbytee.png" alt="logoDigitalByte">
        </div>
        <div class="bar-search">
            <input class="input-search" type="text" name="search" id="search" placeholder="¿Qué estas buscando?">
        </div>
        <div class="user-option">
            <button class="btn btn-carrito" type="button">Carrito</button>
            <button class="btn btn-registro" type="button">Registro</button>
            <button class="btn btn-login" type="button">Login</button>
        </div>
        <div class="secciones">

        </div>
    </header>
    <nav class="main-nav">
        <div class="menu">
            <a class="hamburger-button">
                <i class="fas fa-bars"></i>
            </a>
        </div>
        <ul class="lista-secciones">
            <li>Home</li>
            <li>Smartphones</li>
            <li>Notebooks</li>
            <li>Tablets</li>
            <li>Contacto</li>
            <li>¿Quienes Somos?</li>
        </ul>
    </nav>
    <main>
        <section class="imagenes-and-detalle">
            <div class="imagenes-acciones">
                <div class="imagenes-producto">
                    <div class="imagen-principal">
                        <img src="/public/img/apple/iphone13/iphone13.png" alt="iphone13">
                    </div>
                    <div class="imagenes-secundarias">
                        <img src="/public/img/apple/iphone13/iphone13-1.png" alt="">
                        <img src="/public/img/apple/iphone13/iphone13-2.png" alt="">
                        <img src="/public/img/apple/iphone13/iphone13-3.png" alt="">
                    </div>
                </div>

            </div>

            <div class="detalle-producto">
                <div class="titulo-producto">
                    <p>Iphone 13</p>
                </div>
                <div class="descripcion-producto">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita aliquam, consequuntur natus
                        ullam culpa blanditiis ab nisi ipsa aperiam recusandae exercitationem atque rerum dolorum quos
                        totam itaque, sunt fugiat ipsam.</p>
                </div>
                <div class="caracteristicas-producto">
                    <ul>
                        <li>Caracteristica 1</li>
                        <li>Caracteristica 2</li>
                        <li>Caracteristica 3</li>
                        <li>Caracteristica 4</li>
                    </ul>
                </div>
                <div class="color-precio">
                    <div class="colores">
                        <div class="gama-colores">
                            <div class="color grey">.</div>
                            <div class="color green">.</div>
                            <div class="color pink">.</div>
                            <div class="color gold">.</div>
                        </div>
                    </div>
                    <div class="precio-comprar">
                        <div class="precio">
                            <p>$800.000</p>
                        </div>
                        <div class=""><button class="btn-comprar">Comprar</button></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="relacionados">
            <p class="titulo">Productos Relacionados</p>
            <div class="productos-scroll">
                <div class="productos-relacionados">
                    <div class="producto producto1">
                        <div class="imagen-producto-relacionado">
                            <img src="/public/img/apple/iphone14/iphone14.jpg" alt="">
                        </div>
                        <div class="descripcion-producto-relacionado">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minus accusamus ea esse
                            laboriosam
                        </div>
                        <div class="botones-producto-relacionado">
                            <button class="btn-relacionado">Ver</button>
                            <button class="btn-relacionado">Agregar</button>
                        </div>
                    </div>
                    <div class="producto producto2">
                        <div class="imagen-producto-relacionado">
                            <img src="/public/img/apple/iphone14/iphone14.jpg" alt="">
                        </div>
                        <div class="descripcion-producto-relacionado">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minus accusamus ea esse
                            laboriosam
                        </div>
                        <div class="botones-producto-relacionado">
                            <button class="btn-relacionado">Ver</button>
                            <button class="btn-relacionado">Agregar</button>
                        </div>
                    </div>
                    <div class="producto producto3">
                        <div class="imagen-producto-relacionado">
                            <img src="/public/img/apple/iphone14/iphone14.jpg" alt="">
                        </div>
                        <div class="descripcion-producto-relacionado">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minus accusamus ea esse
                            laboriosam
                        </div>
                        <div class="botones-producto-relacionado">
                            <button class="btn-relacionado">Ver</button>
                            <button class="btn-relacionado">Agregar</button>
                        </div>
                    </div>
                    <div class="producto producto4">
                        <div class="imagen-producto-relacionado">
                            <img src="/public/img/apple/iphone14/iphone14.jpg" alt="">
                        </div>
                        <div class="descripcion-producto-relacionado">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minus accusamus ea esse
                            laboriosam
                        </div>
                        <div class="botones-producto-relacionado">
                            <button class="btn-relacionado">Ver</button>
                            <button class="btn-relacionado">Agregar</button>
                        </div>
                    </div>
                    <div class="producto producto5">
                        <div class="imagen-producto-relacionado">
                            <img src="/public/img/apple/iphone14/iphone14.jpg" alt="">
                        </div>
                        <div class="descripcion-producto-relacionado">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minus accusamus ea esse
                            laboriosam
                        </div>
                        <div class="botones-producto-relacionado">
                            <button class="btn-relacionado">Ver</button>
                            <button class="btn-relacionado">Agregar</button>
                        </div>
                    </div>
                    <div class="producto producto6">
                        <div class="imagen-producto-relacionado">
                            <img src="/public/img/apple/iphone14/iphone14.jpg" alt="">
                        </div>
                        <div class="descripcion-producto-relacionado">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minus accusamus ea esse
                            laboriosam
                        </div>
                        <div class="botones-producto-relacionado">
                            <button class="btn-relacionado">Ver</button>
                            <button class="btn-relacionado">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>
    <footer>
        footer
    </footer>
</body>

</html>