<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>digitalByte</title>

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__container">
        <a href="/">
          <img class="header__logo" src="/images/digitalByte.png" alt="digitalByte logo" />
        </a>
        <input class="header__search" type="text" placeholder="¿Que estas buscando?" />

        <div class="header__access">
          <a href="/Carrito">Carrito</a>
          <a href="/Registro">Registro</a>
          <a href="/login">Ingresar</a>
        </div>
      </div>

      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <button class="nav__button">Home</button>
          </li>
          <li>|</li>
          <li class="header__nav-item">
            <button class="nav__button">Smartphones</button>
          </li>
          <li>|</li>
          <li class="header__nav-item">
            <button class="nav__button">Notebooks</button>
          </li>
          <li>|</li>
          <li class="header__nav-item">
            <button class="nav__button">Tablets</button>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="brand__container">
        <section class="brand__section">
          <article class="brand__article">
            <h4 class="brand__title">Apple</h4>
            <ul class="brand__list">
              <li class="brand__item">iPhone 15 Pro</li>
              <li class="brand__item">iPhone 13 Pro Max</li>
              <li class="brand__item">iPhone SE</li>
            </ul>
          </article>

          <article class="brand__article">
            <h4 class="brand__title">Xiaomi</h4>
            <ul class="brand__list">
              <li class="brand__item">Redmi Note 11</li>
              <li class="brand__item">Redmi 12C</li>
              <li class="brand__item">Mi 13t</li>
            </ul>
          </article>

          <article class="brand__article">
            <h4 class="brand__title">Samsung</h4>
            <ul class="brand__list">
              <li class="brand__item">Galaxy S23</li>
              <li class="brand__item">Galaxy A04</li>
              <li class="brand__item">Galaxy Z Flip4</li>
            </ul>
          </article>
        </section>
      </div>

      <section class="offer__section">
        <article class="offer__article">
          <div class="offer__container">
            <h4 class="offer__title">20% Off de la semana</h4>
            <div class="offer">
              <img class="offer__image" src="/images/iphone-pro-max.png" alt="" />
              <img class="offer__image" src="/images/redmi-note.png" alt="" />
              <img class="offer__image" src="/images/samsung-s23.png" alt="" />
            </div>
          </div>
        </article>
      </section>

      <section class="most-searched__section">
        <article class="most-searched__article">
          <h2 class="most-searched__title">Lo mas buscado</h2>

          <div class="most-searched__card-container">
            <div class="most-searched__card">
              <div class="card">
                <img class="card__image" src="/images/iphone-pro-max.png" alt="" />
              </div>

              <div class="card__p">
                <p class="p">Precio</p>
                <p class="p">Descripcion</p>
                <p class="p">Titulo</p>
              </div>

              <div class="most-searched__buttons">
                <button class="most-searched__button">Ver</button>
                <button class="most-searched__button">Agregar</button>
              </div>

              <div class="card-extra"></div>
            </div>

            <div class="most-searched__card">
              <div class="card">
                <img class="card__image" src="/images/redmi-note.png" alt="" />
              </div>

              <div class="card__p">
                <p class="p">Precio</p>
                <p class="p">Descripcion</p>
                <p class="p">Titulo</p>
              </div>

              <div class="most-searched__buttons">
                <button class="most-searched__button">Ver</button>
                <button class="most-searched__button">Agregar</button>
              </div>

              <div class="card-extra"></div>
            </div>

            <div class="most-searched__card">
              <div class="card">
                <img class="card__image" src="/images/samsung-s23.png" alt="" />
              </div>

              <div class="card__p">
                <p class="p">Precio</p>
                <p class="p">Descripcion</p>
                <p class="p">Titulo</p>
              </div>

              <div class="most-searched__buttons">
                <button class="most-searched__button">Ver</button>
                <button class="most-searched__button">Agregar</button>
              </div>

              <div class="card-extra"></div>
            </div>
          </div>
        </article>
      </section>
    </main>

    <footer class="footer">
      <p class="digital-byte__p">© 2023 <span class="digital-byte__span">digitalByte</span></p>
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__anchor" href="">Contacto</a>
        </li>
        <li class="footer__item">
          <a class="footer__anchor" href="">¿Quiénes somos?</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
