<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carrito | DigitalByte</title>
    <!-- estilos -->
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/f4d1904851.js" crossorigin="anonymous"></script>
    <!-- fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/normalize.css">
</head>

<body>
    <header class="main-header">
        <div class="logo-container">
            <img class="img-logo" src="/images/logo-dbyte.png" alt="logoDigitalByte">
        </div>
        <div class="bar-search">
            <input class="input-search" type="text" name="search" id="search" placeholder="¿Qué estas buscando?">
        </div>
        <div class="user-option">
            <button class="btn btn-carrito" type="button"><a href="/carrito">Carrito</a></button>
            <button class="btn btn-registro" type="button"><a href="/registro">Registro</a></button>
            <button class="btn btn-login" type="button"><a href="/login">Login</a></button>
        </div>
        <div class="secciones">

        </div>
    </header>
    <nav class="main-nav">
        <div class="menu">
            <a class="hamburger-button">
                <i class="fas fa-bars"></i>
            </a>
        </div>
        <ul class="lista-secciones">
            <li><a href="/home">Home</a></li>
            <li><a href="/">Smartphones</a></li>
            <li><a href="/">Notebooks</a></li>
            <li><a href="/">Tablets</a></li>
            <li><a href="/">Contacto</a></li>
            <li><a href="/">¿Quienes Somos?</a></li>
        </ul>
    </nav>

    <main>
        <div class="publi">
            <img class="publi__img" src="/images/electromisiones-abril-2023.jpg" alt="publicidad">
        </div>

        <section class="carrito">
            <table class="table">

                <tr class="main-productos">
                    <th class="main-productos__prod">Producto</th>
                    <th class="main-productos__cant">Cantidad</th>
                    <th class="main-productos__nomb">Nombre</th>
                    <th class="main-productos__precio">Precio</th>
                    <th class="main-productos__subtot">Sub total</th>
                </tr>

                <tr class="detalle-producto1">
                    <td> <img class="det-prod__img1" src="\images\iphone13-3--.png" alt=""></td>
                    <td><input class="input-contador-prod" type="number" value="1" min="1"></td>
                    <td>iPhone 13</td>
                    <td>$1.322.142</td>
                    <td>$1.322.142</td>
                </tr>

                <tr class="detalle-producto2">
                    <td> <img class="det-prod__img2" src="\images\ipad9na-recorte.jpg" alt="">
                    </td>
                    <td><input class="input-contador-prod" type="number" value="1" min="1"></td>
                    <td>Iphone 14</td>
                    <td>$15.00</td>
                </tr>
            </table>

            <div class="saldo-total">
                <span class="text-total">Total a pagar: </span>
                <h3 class="total">$25.00</h3>
            </div>

            <div class="botones-carrito">
                <button class="btn-1"> Actualizar carrito
                </button>
                <button class="btn-2"> Realizar compra
                </button>

            </div>
        </section>

        <div class="title-prod">
            <h4 class="title">PRODUCTOS DESTACADOS</h4>
        </div>

        <section class="productos-destacados">

            <article class="producto">
                <img class="producto__img-1" src="\images\iphone13-3--.png" alt="">
                <div class="bar-inf-prod">
                    <div class="buttons">
                        <h4>Samsung S23</h4>
                        <div data-tooltip="Price:-$20" class="button">
                        <div class="button-wrapper">
                            <div class="text">Agregar</div>
                            <span class="icon">
                                <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16" width="16"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path>
                                        d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1
                                        .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0
                                        1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2
                                        1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4
                                        0 2 2 0 0 1-4 0z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <button class="button-ver">
                        <span>Ver</span>
                    </button>
                </div>
                </div>
            </article>

            <article class="producto">
                <img class="producto__img-2" src="\images\ipad9na-recorte.jpg" alt="">
                <div class="bar-inf-prod">
                    <div class="buttons">
                        <h4>iPad 9</h4>
                        <div data-tooltip="Price:-$20" class="button">
                            <div class="button-wrapper">
                                <div class="text">Agregar</div>
                                <span class="icon">
                                    <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16"
                                        width="16" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z">
                                        </path>
                                    </svg>
                                </span>
                            </div>
                        </div>

                        <button class="button-ver">
                            <span>Ver</span>
                        </button>
                    </div>
                </div>

            </article>

            <article class="producto-3">
                <img class="producto__img-3" src="\images\macbookProm2-1--.jpg" alt="">
                <div class="bar-inf-prod-3">
                    <div class="buttons">
                        <h4>macBook Pro M2</h4>
                        <div data-tooltip="Price:-$20" class="button">
                            <div class="button-wrapper">
                                <div class="text">Agregar</div>
                                <span class="icon">
                                    <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16"
                                        width="16" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z">
                                        </path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <button class="button-ver">
                            <span>Ver</span>
                        </button>
                    </div>
                </div>

                </div>
            </article>

        </section>
    </main>

    <footer class="footer">
        <div class="footer-social">
            <a href="#"><span><i class="fab fa-facebook"></i> Facebook</span></a>
            <a href="#"><span><i class="fab fa-twitter"></i> Twitter</span></a>
            <a href="#"><span><i class="fab fa-instagram"></i> Instagram</span></a>
        </div>
        <div class="copyrigth">
            <p class="digital-bytep">© 2023 <span class="digital-bytespan">digitalByte</span></p>
        </div>
        <div class="footer-sections">
            <ul class="footerlist">
                <li class="footeritem">
                    <a class="footeranchor" href="">Contacto</a>
                </li>
                <li class="footeritem">
                    <a class="footer__anchor" href="">¿Quiénes somos?</a>
                </li>
            </ul>
        </div>

    </footer>
</body>

</html>