<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>

    <link rel="stylesheet" href="/css/register-styles.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div class="body">
      <div class="container">
        <div class="title-container">
          <h2 class="title">Registro</h2>
        </div>
        <form class="register__form" action="/register" method="POST">
          <div class="register__firstname-form">
            <label for="">Nombre</label>
            <input class="register__input-form" type="text" placeholder="Nombre" />
          </div>

          <div class="register__lastname-form">
            <label for="">Apellido</label>
            <input class="register__input-form" type="text" placeholder="Apellido" />
          </div>

          <div class="register__email-form">
            <label for="">Correo electronico</label>
            <input class="register__input-form" type="email" placeholder="Correo electronico" />
          </div>

          <div class="register__password-form">
            <label for="">Contraseña</label>
            <input class="register__input-form" type="password" placeholder="Contraseña" />
          </div>

          <div class="register__password-form">
            <label for="">Repetir contraseña</label>
            <input class="register__input-form" type="password" placeholder="Repetir contraseña" />
          </div>

          <div class="register__date-form">
            <label for="">Fecha de nacimiento</label>
            <input
              class="register__input-date-form"
              type="date"
              placeholder="Fecha de nacimiento"
            />
          </div>

          <div class="register__buttons">
            <button class="register__button">Iniciar Sesión</button>
            <button class="register__google-button">
              <i class="fa-brands fa-google register__google-icon"></i>Inicia sesión con google
            </button>
          </div>
        </form>

        <div class="footer">
          <span>¿Ya tienes cuenta?</span>
          <a href="/login" class="login__link">Iniciar sesión</a>
        </div>
      </div>
    </div>
  </body>
</html>
