* {
    box-sizing: border-box;
}

.body {
    padding: 0px;
    margin: 0px;
}

label,
span,
h2 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(40, 40, 40);
}
.fa-trash:hover{
    color : red !important;
    cursor: pointer;
}
.fa-pen-to-square:hover{
    color: rgb(50, 97, 240);
    cursor: pointer;
}
td{
    text-align: center;
}
td>img {
    height: 90px;
    margin: 5px;
}
select#category{
    border: 0;
    border-radius: 5px;
}
.btn-delete{
    background-color: transparent;
    border: 0;
}
.main{
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.main-alta{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn {
    padding: 1.2px 15px;
    margin: 6px 24px;
    height: 32px;
    border: 0;
    border-radius: 60px;
    background-color: #906CBE;
    color: #ffffff;
    font-weight: bold;
    font-size: 70%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.btn-acciones{
    text-align: center;
}
.btn-nuevo-prod{
    padding: 10px;
    margin: 6px 24px;
    height: 40px;
    border: 0;
    border-radius: 60px;
    background-color: #906CBE;
    color: #ffffff;
    font-weight: bold;
    font-size: 70%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.btn-nuevo-prod a{
    color: white;
}
.td-descripcion{
    overflow-y: scroll;
}
.p-descripcion{
    max-height: 50px;
}
.section-listar {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 90%;
}
.table-responsive{
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 500px;
}
.table-listar{
    padding: 10px;
    border-radius: 10px;
    background-color: #cebae7;
}
.thead-listar{
    background-color: #906CBE;
}
.btn a {
    color: white;
}
th{
    padding: 5px;
    border-radius: 10px;
    color:#ffffff;
}
.title-container {
    background-color: #be9de9;
    border-radius: 10px;
    text-align: center;
}

.title {
    margin: 0;
    padding: 5px;
    font-weight: 200;
    font-size: 1.5rem;
}

.container__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(204, 173, 253);
    border: rgb(98, 71, 143);
    border-radius: 5px;
    justify-content: flex-start;
}

.alta__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    padding-top: 10px;
    border-radius: 10px;
    font-size: small;
}

.block-input {
    margin-bottom: 1rem;
    width: 55%;
    text-align: left;
}

.block-input>input {
    border: 0;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}


.alta__name-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 10px 0px 0px;
    margin: 10px;
}

.alta__buttons {
    justify-content: center;
    gap: 10px;
}

.alta__categ-forms {
    display: flex;
}


/*BOTON AGREGAR PRODUCTO*/

.option__button {
    padding: 1.2px 15px;
    margin: 6px 24px;
    height: 32px;
    border: 0;
    border-radius: 60px;
    background-color: #906CBE;
    color: #ffffff;
    font-weight: bold;
    font-size: 70%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}




@media (min-width:500px) {

    .main-alta {
        display: block;
    }

    .login__buttons {
        flex-direction: row;
    }
    .table-responsive{
        width: 90%;
        min-width: 300px;
        max-width: 1500px;
        max-height: 1000px;
    }
    
    .container {
        width: 70%;
        min-width: 300px;
        max-width: 400px;
    }

    /*Alta y edit de productos*/
    .container__form {
        width: 80%;
        max-width: 600px;
    }

    .option__button:hover {
        background-color: #915df1;
        box-shadow: 0 0 0 5px #3b83f65f;
        color: #fff;
    }

    .alta__buttons {
        display: flex;
        justify-content: center;
    }

    .section-listar{
        width: 100%;
        align-items: center;
        max-height: 1000px;
    }
}