* {
    box-sizing: border-box;
}

.body {
    padding: 0px;
    margin: 0px;
}
.main{
    display: flex; 
    flex-direction: column;
    align-items: center;
}
label,span,h2{
    display: block;
    font-family:Arial, Helvetica, sans-serif ;
    color: rgb(40, 40, 40);
}

.title-container {
    background-color: #be9de9;
    border-radius: 10px;
    text-align: center;
}
select#category,select#color,#file[type=file]{
    border: 0;
    border-radius: 5px;
}
.title{
    margin: 0;
    padding: 5px;
    font-weight: 200;
}

.container__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(204, 173, 253);
    border: rgb(98, 71, 143);
    border-radius: 5px;
    justify-content: center;
}

.edit__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    padding-top: 10px;
    border-radius: 10px;
    font-size: small;
}

.block-input {
    margin-bottom: 1rem;
    width: 55%;
    text-align: left;
}

.block-input>input {
    border: 0;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}


.edit__name-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 10px 0px 0px;
    margin: 10px;
}


.option__button {
    padding: 1.2px 15px;
    margin: 6px 24px;
    height: 32px;
    border: 0;
    border-radius: 60px;
    background-color: #906CBE;
    color: #ffffff;
    font-weight: bold;
    font-size: 70%;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.edit__categ-form, .edit__color-form {
    display: flex;
    gap: 10px;
}



.edit_textarea{
    border: 0;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
    width: 326px;
    height: 277px;
}

.edit__file{
    border: 0;
    border-radius: 10px;
    padding: 5px;
}

/*BOTON AGREGAR PRODUCTO*/

.submit-button, .clean-button{
    font-family: monospace;
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
  }
  

  
@media (min-width:500px) {
    .login__buttons {
        flex-direction: row;
    }

    .container {
        width: 70%;
        min-width: 300px;
        max-width: 400px;
    }

    /*Alta y edit de productos*/
    .container__form {
        width: 80%;
        max-width: 600px;
    }

    .option__button:hover{
        background-color: #915df1;
        color: #fff;
        cursor: pointer;
        transform: scale(1.2);
      }

      .alta__buttons{
        display: flex;
        justify-content: center;
      }
}