* {
  box-sizing: border-box;
}

.body {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: #bde3ff;
  border: none;
  border-radius: 10px;
}

.register__form {
  text-align: center;
}

.register__firstname-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 0px;
  margin: 10px;
}

.register__lastname-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 0px;
  margin: 10px;
}

.register__email-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 0px;
  margin: 10px;
}

.register__password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 0px;
  margin: 10px;
}

.register__date-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 10px 60px;
  margin: 10px;
}

.register__input-date-form {
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  width: 50vw;
}

.register__input-form {
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  width: 70vw;
}

.title-container {
  display: flex;
  justify-content: center;
}

.title {
  background-color: #51b5ff;
  margin: 5px 0;
  padding: 0px 15%;
  border: none;
  border-radius: 40px;
  color: rgb(50, 50, 50);
}

.register__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.register__button {
  border: none;
  border-radius: 10px;
  width: 30vw;
  padding: 5px;
}

.register__google-button {
  border: none;
  border-radius: 10px;
  width: 30vw;
  padding: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding: 5% 3% 2% 5%;
}

.login__link {
  text-decoration: none;
  color: black;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1px 5px 1px 5px;
}

.header__logo {
  width: 8vw;
  margin: 5px 0px 10px 10px;
}

.header__access {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #bde3ff;
  padding: 2px 20px;
  border-radius: 10px;
  height: 30px;
  gap: 10px;
}

a {
  text-decoration: none;
}

.header__nav-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  background-color: #bde3ff;
  border-radius: 10px;
  width: 100vw;
  padding: 0px;
  margin: 0px;
}

.header__user-button {
  border: none;
  border-radius: 10px;
  background-color: #2b0063;
  color: white;
  padding: 6px;
  margin: 0 2px 0 2px;
}
