* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.avatar {
    width: 20%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f4f6;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.div-img{
    width: 30%;
}
.div-img img{
    width: 20%;
}
.container {
    width: 100%;
    max-width: 500px;
    background-color: #b9a7fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}

.title-container {
    background-color: #906cbe;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.title {
    margin: 0;
    padding: 10px;
    font-weight: 200;
    font-size: 1.5rem;
    color: #fff;
}

.title-container .title{
    margin-bottom: 1rem;
}

.block-input,
.edit-user__input-form {
    margin-bottom: 1rem;
}

.edit-user__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.block-input>input,
.edit-user__input-form,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.btn,
.edit-user__button {
    background-color: #906cbe;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover,
.edit-user__button:hover {
    background-color: #764f96;
}


.footer-edit-user {
    margin-top: 20px;
    text-align: center;
}

.footer-edit-user a {
    color: #333;
}

.footer-edit-user a:hover {
    color: #906cbe;
}

@media (min-width:500px ) {

    .container{
        width: 70%;
    }
    .register__buttons{
        flex-direction: row;
    }

    
}