* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

/* TABLA */
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-cantidad{
    width: 50%;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 10px;
    text-align: center;
}
.carrito {
  max-width: 100%;
  text-align: center;
  border: 2px solid #E5B7F9;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 0 12px #a66fff50;
  overflow-x: scroll;
}

.table {
  width: 100%;
}

.main-productos {
  padding: 5px;
  background-color: #906CBE;
  color: white;
}

.main-productos_th {
  font-weight: 500;
  color: #ffffff;
  background-color: #906CBE;
  font-size: 0.8rem;
  padding: 5px;
}

td, th {
  font-size: 0.9rem;
  min-width: 100px;
}

.det-prod__img {
  width: 100px;
  height: 100px;
}

.input-contador-prod {
  font-size: 0.9rem;
  width: 40px;
  text-align: center;
}

.saldo-total {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
}

.text-total {
  padding: 2px 20px;
  font-size: 0.9rem;
}

.total {
  font-size: 0.9rem;
  padding: 2px 6px;
}

.botones-carrito {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

/* BOTONES CARRITO */
.btn {
  padding: 6px 15px;
  margin: 6px;
  height: auto;
  border-radius: 60px;
  background-color: #906CBE;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.8rem;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #915df1;
  color: #fff;
  cursor: pointer;
}

.btn:active {
  background-color: #9c3dcf;
  transform: scale(0.98);
}

/* MEDIA QUERIES */
@media (min-width: 500px) {
  
  .main-productos_th {
    font-size: 1rem;
  }

  .det-prod__img:hover {
    transform: scale(1.5);
  }

  .btn {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}
