
.product-list {
    list-style: none;
    padding: 0;
    position: relative;
}
.btn-green{
    margin-right: 10px;
    background-color: rgb(111, 155, 70);
    border:none;
    padding: 10px;
    border-radius: 10px;
}
.btn-yellow{
    margin-right: 10px;
    background-color: rgb(207, 205, 42);
    border:none;
    padding: 10px;
    border-radius: 10px;
}
.btn-green a,.btn-yellow a{
    color:white;
}
.title {
    margin:0 0 10px 0;
    width: 100%;
    background-color: rgb(169, 120, 214);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
}

/* Estilo para cada tarjeta de usuario */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 200px; /* Ancho fijo */
    height: 300px; /* Altura fija */
    text-align: center;
    transition: transform 0.3s ease-in-out;
    list-style: none;
}

/* Estilo para la imagen de usuario */
.card img {
    width: 150px; /* Ancho fijo */
    height: 150px; /* Altura fija */
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


/* Estilo para el nombre del usuario */
.product-name {
    margin: 0;
}

/* Estilo para la información adicional del usuario */
.info {
    margin: 5px 0;
    color: #888;
    overflow: hidden;
}

/* Estilo para los botones de acciones */
.botones-acciones a{
    color: #2b2b2b;
    text-decoration: none;
    margin-right: 5px;
}
.btn-delete{
padding: 0;
border: none;
background: transparent;
}

.botones-acciones a:hover {
    color: #007bff;
    cursor: pointer
}
.eliminar:hover{
    color:red;
    cursor: pointer;
}
.float{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.none{
    display: none !important;
}
.listaMisProductos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 80%;
    width: 100%;
}
.mensajeNoProd{
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #8d8d8d;

}
.img{
display: flex;
justify-content: center;
}
