
.green {
    background-color: rgb(53, 78, 53);
}

.grey {
    background-color: rgb(111, 111, 111);
}

.pink {
    background-color: rgb(194, 110, 147);
}

.gold {
    background-color: rgb(221, 213, 134);
}



/*main*/

.btn-comprar {
    background-color: #1259c3;
    color: white;
    margin: 5px;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.card_sinStock{
    padding: 5px;
    background-color: rgb(131, 130, 130) !important;
    border: 1px solid rgb(105, 104, 104) !important;
    border-radius: 10px;
    color: white;
}
.gama-colores {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    justify-content: space-around;
}


.oferta-precio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.oferta{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
#cantidadProducto{
    text-align: center;
    border: 1px solid #1259c3;
    border-radius: 10px;
    width: 100%;
}
.p-off {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(242, 74, 116, 0.897);
}

.imagenes-and-detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.detalle-producto>div {
    margin-bottom: 10px;
    padding: 5px;
}

.precio-comprar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.precio>p {
    font-weight: 600;
    margin: 4px;
    font-size: 20px;
    text-align: center;
    color: rgb(32, 32, 32);
}

.div-btn-comprar {
    display: inline;
    text-align: center;
}

.btn-comprar:hover {
    cursor: pointer;
    background-color: #246ede;
}

.imagenes-acciones {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 10px;
}

.detalle-producto {
    width: 100vw;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.imagenes-producto {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
}

.imagen-principal {
    display: flex;
    justify-content: center;
    margin: 5px;
    height: 60%;

}

.imagen-principal img {
    width: 90%;
}

.imagenes-secundarias {
    display: flex;
    justify-content: space-around;
}

.div-img {
    width: 30%;

}

.div-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 2px;
}

.botones-accion {
    display: flex;
}

.titulo-producto {
    background-color: #cec9eb;
    border-radius: 0;
}

.titulo-producto p {
    font-size: x-large;
    font: sans-serif;
    text-align: center;
    padding: 5px;
}

.descripcion-producto p {
    font-size: 15px;
    color: rgb(43, 43, 43);
    padding: 5px;
}

.descripcion-producto_titulo {
    display: flex;
    background-color: #d2ccf0;
    border-bottom: #5c4c69;
}

.descripcion-producto_titulo i {
    display: flex;
    align-items: center;
}

table {
    width: 100%;
}

.caracteristicas-producto_titulo {
    display: flex;
    align-items: center;
    background-color: #d2ccf0;
    padding: 5px;
    margin-bottom: 5px;
}

.caracteristicas-producto_titulo i {
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-size: 20px;
}

.caracteristicas-producto {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.caracteristicas-producto_table {
    padding: 5px;
}

.caracteristicas-producto_first_td {
    color: rgb(43, 43, 43);
    font-weight: 700;
}

.caracteristicas-producto_second_td {
    color: rgb(43, 43, 43);
}

/*Relacionados*/
.relacionados {
    margin: 10px;
}

.titulo {
    text-align: center;
    color: white;
    background-color: #5c4c69;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.productos-relacionados {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    overflow-y: scroll
}

.producto {
    min-width: 100px;
    max-width: 300px;
    margin: 5px;
    padding-top: 5px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

}

.imagen-producto-relacionado img {
    width: 100%;
}

.descripcion-producto-relacionado {
    padding: 5px;
    font-size: 12px;
}

.botones-producto-relacionado {
    display: flex;
    justify-content: space-around;
    margin: 5px 0px;
}

.btn-relacionado {
    border: 0;
    background-color: #1259c3;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.btn-relacionado:first-child {
    border: 0;
    background-color: #7d5f95;
}


@media (min-width:500px) {


    /*Main*/

    .imagenes-and-detalle {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 10px;
        margin-right: 10px;
        gap: 20px;
    }

    .imagenes-acciones {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 100%;
        padding: 0px 10px;
        margin-bottom: 0px;
        max-width: 647px;
    }

    .detalle-producto {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: rgb(233, 227, 248);
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .imagenes-producto {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
    }

    .imagen-principal {
        display: flex;
        justify-content: center;
        margin: 5px;

    }

    .imagen-principal img {
        width: 40%;

    }


    /*Relacionados*/
    .productos-relacionados {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .imagenes-secundarias {
        display: flex;
        justify-content: space-around;
    }

    .imagen-producto-relacionado {
        display: flex;
        justify-content: center;
    }

    .imagen-producto-relacionado img {
        width: 60%;
    }

    .btn-relacionado:first-child {
        width: 20%;
        min-width: 30px;
    }


    .precio>p{
        font-size: 1.5rem;
    }
    .detalle-producto>div {
        margin-bottom: 10px;
    }
}