/* #4890db */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

/*TABLA*/
.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carrito {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  align-items: center;
  text-align: center;
  margin: 30px 10px 0px 0px;
  border: 2px solid #E5B7F9;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.table {
  width: 80vw;
  max-width: 900px;
  max-width: 1000px;
}

.main-productos {
  padding: 5px;
  background-color: #906CBE;
  height: 20px;
  color: white;
}

th {
  font-size: 10px;
  border: 0px;
}

td {
  font-size: 1rem;
}

.main-productos__prod {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.main-productos__subtot {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cant-prod {
  width: 20%;
}


.det-prod__img {
  width: 60px;
  height: 60px;
}


/*CONTADOR DE PRODUCTOS*/

.input-contador-prod {
  font-size: 12px;
  width: 40px;
  text-align: center;
}


.title-prod {
  margin-top: 10px;
  text-align: center;
  background-color: #906cbe;
  border-radius: 10px;
  padding: 10px;
  color: white;
  width: 100%;
}



.saldo-total {
  margin: 10px;
  width: 80vw;
  display: flex;
  justify-content: end;
  height: 25px;
  max-width: 1000px;
  margin: 30px 5px 15px 0px;
}

.text-total {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-right: none;
  background-color: rgb(176, 141, 233);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  align-items: center;
  padding: 2px 20px;
  font-size: 1rem;
  display: flex;
}

.total {
  display: flex;
  background-color: rgb(208, 190, 253);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 12px;
  align-items: center;
  padding: 2px 6px;
}

.botones-carrito {
  display: flex;
  justify-content: space-around;
  width: 100%;
  display: flex;
  justify-content: center;
}



/*BOTONES CARRITO*/

/*BOTON ACTUALIZAR CARRITO*/

.btn {
  padding: 1.2px 15px;
  margin: 6px 24px;
  height: 32px;
  border: 0;
  border-radius: 60px;
  background-color: #906CBE;
  color: #ffffff;
  font-weight: bold;
  font-size: 70%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.btn:hover {
  background-color: #472d68;
  box-shadow: 0 0 12px #6fc5ff50;
  transform: scale(1.1);
  cursor: pointer;
}

.btn:active {
  background-color: #9c3dcf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}


@media (min-width:500px) {

  /*MAIN*/


  .publi {
    display: block;
  }


  .menu {
    display: none;
  }

  /*CARRITO*/
  .carrito {
    max-width: 1300px;
    margin: 10px 10px 10px 0px;
    padding: 10px;
    box-shadow: 0 0 12px #a66fff50;
  }


  .main-productos {
    height: 35px;
  }
  .main-productos_th{
    font-size: 1.1rem;
  }



  .text-total {
    padding: 0px 40px 0px 40px;
    font-size: 1rem;
    font-weight: 100;
  }

  .total {
    font-size: 15px;
    padding: 3px 30px 5px 30px;
  }


  .det-prod__img:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
  }

}