label,span,h2{
    display: block;
    font-family:Arial, Helvetica, sans-serif ;
    color: rgb(40, 40, 40);
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container{
    width: 100%;
    max-width: 500px;
}

.register__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    padding-top: 10px;
    background-color: rgb(185, 167, 250);
    border-radius: 10px;
}
.footer-register{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.btn{
    border: 0;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 5px;
}
.register__button{
    background-color:#906CBE;
}
.block-input{
    margin-bottom: 1rem;
    width: 55%;
    text-align: left;
}
.block-input> input{
    border: 0;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}
.register__buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}
.title-container{
    font-family: 'Noto Sans';
    background-color:#906CBE;
    border-radius: 10px;
    text-align: center;
}
.title{
    margin: 0;
    padding: 5px;
    font-weight: 200;
    font-size: 1.5rem;
    color: aliceblue;
}

.login__link{
    color: #0089ff;
    text-decoration: none;
}

select {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    appearance: none;
    background-color: #fff;
}

select:hover {
    border-color: #888;
}

select:focus {
    border-color: #555;
    outline: none;
}

select option {
    padding: 10px;
}

.text-danger{
    display: block;
    color: #a70808;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.is-invalid{
    border: 1px solid red !important;
}



@media (min-width:500px ) {

    .container{
        width: 70%;
    }
    .register__buttons{
        flex-direction: row;
    }

}