* {
    box-sizing: border-box;
  }

  .body {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 5px;
    height: 300px;
  }
  