body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.profile-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  
}

.profile-header {
  text-align: center;
}

.name-user {
  font-size: 18px;
  color: #333;
}

.profile-body {
  margin-top: 20px;
  text-align: center;
}

.profile-image {
  width: 70%;
  max-width: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-data {
  width: 100%;
}

.action-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 2px 5px;
  text-decoration: none;
  color: #fff;
  border-radius: 2px;
}
.btn:hover{
  cursor: pointer;
}
.btn-primary {
  background-color: #007bff;
  border: 1px solid #007bff;
  margin-right: 10px;
}

.btn-danger {
  background-color: #dc3545;
  border: 1px solid #dc3545;
}

.title-container {
  display: flex;
  justify-content: center;
}

.title {
  width: 100%;
  background-color: rgb(169, 120, 214);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
}

@media (min-width: 500px) {

  .profile-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  .profile-card {
    max-width: 100%;
  }

  .container{
    margin: 0 auto;
    max-width: 100%;

  }

  .profile-image {
    width: 50%;
    border-radius: 50%;
  }

  .user-data {
    width: 80%;
  }

  .name-user {
    font-size: 24px;
    color: #333;
  }

  .btn {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
  }
}