/* stylesUsuarioEditContraseña.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

input,
.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-size: 20px;
    color: #863876;
}

.div-imagenes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.div-img {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-width: 200px;
    position: relative;
}

.imagen {
    max-width: 100px;
}

.div-datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-user__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.block-input {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 70%;
}

.edit-user__input-form {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.edit-user__input-form.is-invalid {
    border-color: #dc3545;
}

.text-danger {
    color: #dc3545;
    font-size: 12px;
}

.edit__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.edit__button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit__button:hover {
    background-color: #0056b3;
}

.reset {
    background-color: #7c7c7c;
}

.footer-edit-user {
    text-align: center;
    margin-top: 20px;
}

.edit-user__link {
    color: #007bff;
    text-decoration: none;
    margin-left: 5px;
}

.edit-user__link:hover {
    text-decoration: underline;
}

.avatar {
    width: 100px;
    height: 100px;
}

.edit-user__image-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#avatar-upload {
    display: none;
}

.avatar-container {
    position: relative;
    display: inline-block;
}

.avatar-container:hover {
    cursor: pointer;
}

.camera-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    border: 1px solid grey;
    border-radius: 20px;
    color: #ffffff;
    padding: 5px;
}

.camera-icon i {
    font-size: 20px;
    color: #1a1a1a;
}
.camera-icon:hover{
    cursor: pointer;
}
@media (min-width:500px) {
    .edit__form {
        display: flex;
        flex-direction: row;
        gap:20px;
    }
    .div-imagenes{
        flex-direction: column;
        justify-content: start;
    }
    .div-datos{
        max-width: 670px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: start;
    }
    .block-input{
        width: 100%;
        max-width: 300px;
    }
    .edit__buttons{
        align-items: start;
        margin-right: 15px;
    }
}
@media (min-width:750px) {
    .block-input{
        width: 45%;
        max-width: 300px;
    }
}