/* body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #6a0572;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #6a0572;
}


.product-list li {
    border: 1px solid #6a0572;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
}

.product-list li img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.product-info {
    text-align: left;
}

.product-info h2 {
    margin: 0;
    color: #6a0572;
}

.product-info p {
    margin: 5px 0;
}  */
.product-list {
    list-style: none;
    padding: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
.btn-agregar{
    margin-right: 10px;
    background-color: rgb(111, 155, 70);
    border:none;
    padding: 10px;
    border-radius: 10px;
}
.btn-agregar a{
    color:white;
}
.title {
    width: 100%;
    background-color: rgb(169, 120, 214);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
}

/* Estilo para cada tarjeta de usuario */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 200px; /* Ancho fijo */
    height: 300px; /* Altura fija */
    text-align: center;
    transition: transform 0.3s ease-in-out;
    list-style: none;
}

/* Estilo para la imagen de usuario */
.card img {
    width: 150px; /* Ancho fijo */
    height: 150px; /* Altura fija */
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


/* Estilo para el nombre del usuario */
.product-name {
    margin: 0;
}

/* Estilo para la información adicional del usuario */
.info {
    margin: 5px 0;
    color: #888;
    overflow: hidden;
}

/* Estilo para los botones de acciones */
.botones-acciones a{
    color: #2b2b2b;
    text-decoration: none;
    margin-right: 5px;
}
.btn-delete{
padding: 0;
border: none;
background: transparent;
}

.botones-acciones a:hover {
    color: #007bff;
    cursor: pointer
}
.eliminar:hover{
    color:red;
    cursor: pointer;
}
.float{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bg-red{
    background-color: #ffd2d2
}
.red{
    color: rgb(241, 90, 90);
}
.none{
    display: none !important;
}
