<%-include ('partials/head',{cssFile:'/css/stylesContacto.css'})%>

    <body>
        <%-include ('partials/headerYNav') %>
            <main class="main">
                <div class="container__form">
                    <div class="title-container">
                        <h2 class="title">Contactanos</h2>
                    </div>
                    <form class="contacto__form" action="/usuarios/contactanos" method="POST">

                        <div class="nombre-apellido">
                            <div class="contacto__name-form block-input">
                                <label for="producto">Nombre: </label>
                                <input class="name__input-form input-form" type="text" id="producto"
                                    placeholder="Nombre del producto" required />
                            </div>

                            <div class="contacto__descripcion-form block-input">
                                <label for="descripcion">Apellido:</label>
                                <input class="apellido__input-form input-form" type="text"
                                    placeholder="Descripcion del producto" required />
                            </div>
                        </div>
                        <div class="contacto__descripcion-form block-input">
                            <label for="descripcion">Email:</label>
                            <input class="email__input-form input-form" type="email" placeholder="Ingrese su correo"
                                required />
                        </div>
                        <div class="contacto__descripcion-form block-input">
                            <label for="descripcion">Telefono:</label>
                            <input class="telefono__input-form input-form" type="text" placeholder="Telefono Sin 0 ni 15 Ej:(+54)385 5698542"
                                required />
                        </div>

                        <div class="contacto__button">
                            <button class="option__button" type="submit">Enviar</button>
                        </div>
                    </form>

                </div>
            </main>


            <%- include ('partials/footer') %>
    </body>
    <%- include ('partials/script-menu') %>
    </html>