<%-include ('partials/head',{cssFile:'/css/stylesGeneral.css'})%>

    <body>
        <%-include ('partials/headerYNav') %>
        <div class="div-error">
            <img src="/img/error500.png" alt="" class="">
        </div>

    </body>