<%-include ('partials/head',{cssFile:'/css/stylesGeneral.css'})%>

    <body>
        <%-include ('partials/headerYNav') %>
        <div class="div-error">
            <p>No puedes editar este producto</p>
            <img src="/img/error403.png" alt="" class="">
        </div>

    </body>