<%-include ('partials/head',{cssFile:'/css/stylesGeneral.css'})%>

    <body>
        <%-include ('partials/headerYNav') %>
        <div class="div-error404">
            <img src="/img/error404.png" alt="" class="">
        </div>

    </body>