<%-include ('partials/head',{cssFile:'/css/syleLogin.css'})%>
  <body>
    <header class="header">
      <div class="header__container">
        <a href="/">
          <img class="header__logo" src="/img/logo-dbytee.png" alt="digitalByte logo" />
        </a>

        <div class="header__access">
          <a href="/">Home</a>
        </div>
      </div>
    </header>

    <div class="body">
      <div class="container">
        <div class="title-container">
          <h2 class="title">Inicia sesión</h2>
        </div>
        <form class="login__form">
          <div class="login__email-form">
            <!-- <label for="">Correo electronico</label> -->
            <input
              class="login__input-form"
              type="email"
              placeholder="Correo electronico"
              required
            />
          </div>

          <div class="login__password-form">
            <!-- <label for="">Contraseña</label> -->
            <input class="login__input-form" type="password" placeholder="Contraseña" required />
          </div>

          

          <div class="login__buttons">
            <button class="login__button">Iniciar Sesión</button>
            <button class="login__google-button">
              <i class="fa-brands fa-google login__google-icon"></i>Inicia sesión con google
            </button>
          </div>
        </form>

        <div class="footer_login">
          <a href="/Productos/Registro" class="register__link">Crear cuenta</a>
          <a href="">Olvide mi contraseña</a>
        </div>
      </div>
    </div>
  </body>
</html>
