<%-include ('partials/head',{cssFile:'/css/styleDetalle.css'})%>
<body>
    <%-include ('partials/headerYNav') %>
    <main>
        <section class="imagenes-and-detalle">
            <div class="imagenes-acciones">
                <div class="imagenes-producto">
                    <div class="imagen-principal">
                        <img src="/img/apple/iphone13/iphone13.png" alt="iphone13">
                    </div>
                    <div class="imagenes-secundarias">
                        <div class="div-img"><img src="/img/apple/iphone13/iphone13-1.png" alt=""></div>
                        <div class="div-img"><img src="/img/apple/iphone13/iphone13-2.png" alt=""></div>
                        <div class="div-img"><img src="/img/apple/iphone13/iphone13-3.png" alt=""></div>
                    </div>
                </div>

            </div>

            <div class="detalle-producto">
                <div class="titulo-producto">
                    <p>Iphone 13 Pro Max</p>
                </div>
                <div class="descripcion-producto">
                    <p>Pantalla Super Retina XDR de 6.7 pulgadas con ProMotion que brinda una respuesta más rápida y
                        fluida.(2)
                        Modo Cine con baja profundidad de campo y cambios de enfoque automáticos en tus videos.
                        Nuevo sistema de cámaras Pro de 12 MP (teleobjetivo, gran angular y ultra gran angular), escáner
                        LiDAR, rango de zoom óptico de 6x, fotografía macro, Estilos Fotográficos, video ProRes3, HDR
                        Inteligente 4, modo Noche, Apple ProRAW y grabación de video 4K HDR en Dolby Vision.
                        Cámara frontal TrueDepth de 12 MP con modo Noche y grabación de video 4K HDR en Dolby Vision.
                    </p>
                </div>
                <div class="caracteristicas-producto">
                    <ul>
                        <li>Tamaño:6.7"</li>
                        <li>Memoria: 256GB</li>
                        <li>Camara Principal: 12Mpx</li>
                        <li>Desbloqueo: Reconocimiento Facial</li>
                    </ul>
                </div>
                <div class="color-precio">
                    <div class="colores">
                        <div class="gama-colores">
                            <div class="color grey">.</div>
                            <div class="color green">.</div>
                            <div class="color pink">.</div>
                            <div class="color gold">.</div>
                        </div>
                    </div>
                    <div class="precio-comprar">
                        <div class="precio">
                            <p>$1.322.142</p>
                        </div>
                        <div class="div-btn-comprar"><button class="btn-comprar">Comprar</button></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="relacionados">
            <p class="titulo">Productos Relacionados</p>
            <div class="productos-scroll">
                <div class="productos-relacionados">
                    <div class="producto producto1">
                        <div class="imagen-producto-relacionado">
                            <img src="/img/apple/iphone14/iphone14.jpg" alt="">
                        </div>
                        <div class="descripcion-producto-relacionado">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minus accusamus ea esse
                            laboriosam
                        </div>
                        <div class="botones-producto-relacionado">
                            <button class="btn-relacionado">Ver</button>
                            <button class="btn-relacionado">Agregar</button>
                        </div>
                    </div>
                    <div class="producto producto2">
                        <div class="imagen-producto-relacionado">
                            <img src="/img/apple/iphone14/iphone14.jpg" alt="">
                        </div>
                        <div class="descripcion-producto-relacionado">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minus accusamus ea esse
                            laboriosam
                        </div>
                        <div class="botones-producto-relacionado">
                            <button class="btn-relacionado">Ver</button>
                            <button class="btn-relacionado">Agregar</button>
                        </div>
                    </div>
                    <div class="producto producto3">
                        <div class="imagen-producto-relacionado">
                            <img src="/img/apple/iphone14/iphone14.jpg" alt="">
                        </div>
                        <div class="descripcion-producto-relacionado">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minus accusamus ea esse
                            laboriosam
                        </div>
                        <div class="botones-producto-relacionado">
                            <button class="btn-relacionado">Ver</button>
                            <button class="btn-relacionado">Agregar</button>
                        </div>
                    </div>
                    <div class="producto producto4">
                        <div class="imagen-producto-relacionado">
                            <img src="/img/apple/iphone14/iphone14.jpg" alt="">
                        </div>
                        <div class="descripcion-producto-relacionado">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minus accusamus ea esse
                            laboriosam
                        </div>
                        <div class="botones-producto-relacionado">
                            <button class="btn-relacionado">Ver</button>
                            <button class="btn-relacionado">Agregar</button>
                        </div>
                    </div>
                    <div class="producto producto5">
                        <div class="imagen-producto-relacionado">
                            <img src="/img/apple/iphone14/iphone14.jpg" alt="">
                        </div>
                        <div class="descripcion-producto-relacionado">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minus accusamus ea esse
                            laboriosam
                        </div>
                        <div class="botones-producto-relacionado">
                            <button class="btn-relacionado">Ver</button>
                            <button class="btn-relacionado">Agregar</button>
                        </div>
                    </div>
                    <div class="producto producto6">
                        <div class="imagen-producto-relacionado">
                            <img src="/img/apple/iphone14/iphone14.jpg" alt="">
                        </div>
                        <div class="descripcion-producto-relacionado">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minus accusamus ea esse
                            laboriosam
                        </div>
                        <div class="botones-producto-relacionado">
                            <button class="btn-relacionado">Ver</button>
                            <button class="btn-relacionado">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        
    </main>
    <%- include ('partials/footer') %>
</body>

</html>
