<%productos.forEach(producto=>{if(producto.plus == "Mas buscado"){%>
<div class="most-searched__card">
    
    <!-- (NEXT) enviar array con elementos para mostrar MAS BUSCADOS -->
    <div class="card">
        <img class="card__image" src="<%=producto.image%>" alt="" />
    </div>

    <div class="card__p">
        <p class="p-titulo-card"><%=producto.name%></p>
    </div>
    <%- include('accionesProd',{producto:producto,funcion:funcion}) %>
</div>
<% }}); %>