<a href="/productos/detalle/<%=producto.ID_Producto %>">
    <div class="most-searched__card">
        <div class="card">
            <img class="card__image" src="<%=producto.ImagenesProductos[0].ruta%>" alt="" />
        </div>

        <div class="card__p">
            <p class="p-titulo-card">
                <%=producto.Nombre%>
            </p>
        </div>
        <%- include('accionesProd',{producto:producto,funcion:funcion}) %>
    </div>
</a>