<div class="most-searched__card">
    <!-- (NEXT) enviar array con elementos para mostrar -->
    <div class="card">
        <img class="card__image" src="/img/samsung/samsungGalaxyA54/samsungA54.png" alt="" />
    </div>

    <div class="card__p">
        <p class="p-titulo-card">Samsung Galaxy A54</p>
    </div>
    <%- include('accionesProd') %>
</div>