<footer class="footer">
    <div class="footer-social">
        <div class="linea-footer-social"></div>
        <div class="iconos">
            <a href="#"><span><i class="icon-social fab fa-facebook"></i></span></a>
            <a href="#"><span><i class="icon-social fab fa-twitter"></i></span></a>
            <a href="#"><span><i class="icon-social fab fa-instagram"></i></span></a>
        </div>
        <div class="linea-footer-social"></div>
    </div>
    <div class="copyrigth">
        <img class="img-logo" src="/img/logo-dbytee.png" alt="logoDigitalByte">
    </div>
    <div class="footer-sections">
        <ul class="footer__list">
            <li class="footer__item">
                <a class="footer__anchor" href="/Contacto">Contacto</a>
            </li>
            <li class="footer__item">
                <a class="footer__anchor" href="/Quienes-Somos">¿Quiénes somos?</a>
            </li>
        </ul>
    </div>
</footer>