<footer class="footer">
  <div class="footer-social">
      <a href="#"><span><i class="fab fa-facebook"></i> Facebook</span></a>
      <a href="#"><span><i class="fab fa-twitter"></i> Twitter</span></a>
      <a href="#"><span><i class="fab fa-instagram"></i> Instagram</span></a>
  </div>
  <div class="copyrigth">
      <p class="digital-byte__p">© 2023 <span class="digital-byte__span">digitalByte</span></p>
  </div>
  <div class="footer-sections">
      <ul class="footer__list">
          <li class="footer__item">
              <a class="footer__anchor" href="">Contacto</a>
          </li>
          <li class="footer__item">
              <a class="footer__anchor" href="">¿Quiénes somos?</a>
          </li>
      </ul>
  </div>
</footer>