<header class="main-header">
    <div class="logo-container">
        <a href="/"><img class="img-logo" src="/img/logo-dbytee.png" alt="logoDigitalByte"></a>
    </div>
    <div class="bar-search">
    <form action="/productos/search" method="POST"  id="search-form">
        <input type="text" name="busqueda" class="input-search" id="search-input" placeholder="Buscar productos...">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    </div>

    <div class="user-option">
        <!-- Luego validar si el usuario tiene permisos de administrador -->
        <%  %>
        <% if(usuarioLogeado && usuarioLogeado.rol === 'Administrador'){ %>
            <div class="user-option_div">
                <button class="user-btn btn-listProd" type="button"><a href="/productos/lista">Listar Productos</a></button>
                 <button class="user-btn btn-login" type="button"><a href="/usuarios/userProfile">Perfil</a></button>               
                <button class="user-btn btn-registro" type="button"><a href="/usuarios/lista">Usuarios</a></button>
                <button class="user-btn btn-logout"><a href="/usuarios/cerrarSesion">Logout</a></button>
            </div>
        
        <%}else if(usuarioLogeado && usuarioLogeado.rol === 'Vendedor'){%>
        <div class="user-option_div">
            <button class="user-btn btn-carrito" type="button"><a href="/productos/carrito">Carrito</a></button>            
            <button class="user-btn btn-login" type="button"><a href="/usuarios/userProfile">Perfil</a></button>
            <button class="user-btn btn-logout"><a href="/usuarios/cerrarSesion">Logout</a></button>
        </div>
        <%}else if(usuarioLogeado && usuarioLogeado.rol === 'Comprador'){%>
            <div class="user-option_div">
                <button class="user-btn btn-carrito" type="button"><a href="/productos/carrito">Carrito</a></button>            
                <button class="user-btn btn-login" type="button"><a href="/usuarios/userProfile">Perfil</a></button>
                <button class="user-btn btn-logout"><a href="/usuarios/cerrarSesion">Logout</a></button>
            </div>
        <%}else{%>
            <button class="user-btn btn-listProd" type="button"><a href="/usuarios/registro">Registro</a></button>
            <button class="user-btn btn-carrito" type="button"><a href="/usuarios/login">Login</a></button>
        <% } %>

</div>
    <div class="secciones">

    </div>
</header>
<div> 
    <ul class="box-search" id="box-search">
        <li> <a href="#"> <i class="fas fa-search"></i>a</a></li>
        <li> <a href="#"> <i class="fas fa-search"></i>b</a></li>
        <li> <a href="#"> <i class="fas fa-search"></i>c</a></li>
    </ul> <!-- Lista de sugerencias -->
    </div> 


<nav class="main-nav">
    <div class="menu">
        <a class="a-hamburguer" href="/">
            <button class="hamburger-button">
                <i class="fas fa-bars"></i>
            </button>
        </a>
    </div>
    <ul class="lista-secciones">
        <li><a href="/">Home</a></li>
        <li><a href="/productos">Todos</a></li>
        <li><a href="/productos/categoria?cat=2">Smartphones</a></li>
        <li><a href="/productos/categoria?cat=3">Tablets</a></li>
        <li><a href="/productos/categoria?cat=1">Notebooks</a></li>
        <li><a href="/quienes-somos">¿Quienes Somos?</a></li>
    </ul>
</nav>

