<header class="main-header">
    <div class="logo-container">
        <a href="/"><img class="img-logo" src="/img/logo-dbytee.png" alt="logoDigitalByte"></a>
    </div>
    <div class="bar-search">
        <input class="input-search" type="text" name="search" id="search" placeholder="¿Qué estas buscando?">
    </div>
    <div class="user-option">
        <!-- Luego validar si el usuario tiene permisos de administrador -->
        <button class="user-btn btn-listProd" type="button"><a href="/productos/lista">Listar Productos</a></button>
        <div class="user-option_div">
            <button class="user-btn btn-carrito" type="button"><a href="/productos/carrito">Carrito</a></button>
            <button class="user-btn btn-registro" type="button"><a href="/usuarios/registro">Registro</a></button>
            <button class="user-btn btn-registro" type="button"><a href="/usuarios/login">Login</a></button>
            <button class="user-btn btn-registro" type="button"><a href="/usuarios/lista">Usuarios</a></button>
            <button class="user-btn btn-login" type="button"><a href="/usuarios/profile/:id">Perfil</a></button>
        </div>

    </div>
    <div class="secciones">

    </div>
</header>
<nav class="main-nav">
    <div class="menu">
        <a class="a-hamburguer" href="/">
            <button class="hamburger-button">
                <i class="fas fa-bars"></i>
            </button>
        </a>
    </div>
    <ul class="lista-secciones">
        <li><a href="/">Home</a></li>
        <li><a href="/productos">Todos</a></li>
        <li><a href="/productos/categoria?cat=Smartphones">Smartphones</a></li>
        <li><a href="/productos/categoria?cat=Tablets">Tablets</a></li>
        <li><a href="/productos/categoria?cat=Notebooks">Notebooks</a></li>
        <li><a href="/quienes-somos">¿Quienes Somos?</a></li>
    </ul>
</nav>