<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesUsuarios.css">
    <title>Listado de Usuarios</title>
</head>
<body>

    <div class="container">
        <h1>Listado de Usuarios</h1>

        <ul class="user-list">
            <li>
                <img src="avatar1.jpg" alt="Usuario 1">
                <div class="user-info">
                    <h2>Nombre Usuario 1</h2>
                    <p>Email: usuario1@example.com</p>
                </div>
            </li>

            <li>
                <img src="avatar2.jpg" alt="Usuario 2">
                <div class="user-info">
                    <h2>Nombre Usuario 2</h2>
                    <p>Email: usuario2@example.com</p>
                </div>
            </li>


        </ul>
    </div>

</body>
</html>