<%-include ('../partials/head',{cssFile:'/css/login.css'})%>

  <body>
    <header class="header">
      <div class="logo-container">
        <a href="/"><img class="img-logo" src="/img/logo-dbytee.png" alt="logoDigitalByte"></a>
      </div>
    </header>

    <div class="body">
      <div class="container">
        <div class="title-container">
          <h2 class="title">Inicia sesión</h2>
        </div>
        <div class="container-login">
          <form class="login__form">
            <div class="login__email-form">
              <input class="login__input-form" type="email" placeholder="Correo electronico">
              <% if(locals.errors && errors. email){ %>
                <div class="text-danger">
                  <% errors.password.msg %>
                </div>
                <% } %>
            </div>

            <div class="login__password-form">
              <input class="login__input-form" type="password" placeholder="Contraseña">
            </div>

            <div class="login__buttons">
              <button class="login__button">Iniciar Sesión</button>
              <button class="login__google-button">
                <i class="fa-brands fa-google login__google-icon"></i>Inicia sesión con google
              </button>
            </div>
          </form>
          <div class="footer_login">
            <a href="/usuarios/registro" class="register__link">Crear cuenta</a>
            <a href="">Olvide mi contraseña</a>
          </div>
        </div>
      </div>
    </div>
  </body>

  </html>